<div class="container">
    <br>
    <h1 class="title">New Dish</h1>
    <form id="form" class="form">
        <ul>
            <li>
               <!--  <label for="englishName">English Name</label> -->
                <input type="text" placeholder="English Name" id="englishName" ng-model="englishName"/>
            </li>
            <li>
                <!-- <label for="chineseName">Chinese Name</label> -->
                <input type="text" placeholder="Chinese Name" id="chineseName" ng-model="chineseName"/>
            </li>
            <li>
                <!-- <label for="price">Price</label> -->
                <input type="text" placeholder="Price" id="price" ng-model="price"/>
            </li>
            <li>
                <!-- <label for="code">Code</label> -->
                <input type="text" placeholder="Code" id="code" ng-model="code"/>
            </li>
            <li>
                <!-- <label for="type">Type</label> -->
                <input type="text" placeholder="Type" id="type" ng-model="type"/>
                <select ng-model="type">
                	<option value="pot">Casserole</option>
   <!--              	<option value="lunch">Lunch</option>
                	<option value="dinner">Dinner</option> -->
                    <option value="home">Home</option>
                    <option value="chuan">Sichuan</option>
                    <option value="colddish">Colddish</option>
                    <option value="chef">Chef</option>
                    <option value="northeast">NorthEast</option>
                    <option value="combo">Combo</option>
                    <option value="chaofan">Chaofan</option>
                    <option value="gaifan">Gaifan</option>
                    <option value="zhushi">Zhushi</option>
                </select>
            </li>
<!--             <li>
                <label for="image">Image</label>
                <input type="file" id="uploadImage"/>
            </li> -->
        </ul>
        <button type="button" class="activate" ng-click="saveBtn()">Save</button>
    </form>
</div>